//surface navigation controls
.surfaceWrapper{
  display: flex;
  justify-content: center;
}

.imagesDisplay {
  //height: 100vh;
  //overflow: scroll;
}
.image-display-choice{

}
.manifestationsList{
  width: 400px;
  margin: 10px auto;

}
